*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('https://img.zcool.cn/community/017e855cdbaf01a801208f8bd29353.jpg');
	background-repeat: no-repeat;
	
}
#imgs{
	z-index: 9999;
	position: fixed;
	top: 0px;
	width:100%;
	height: 100vh;
	background-image: url(../img/wcglogo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color:white;		
}
.dlqb{
	border-radius: 10px;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	/* 1.要求自身内容相对包含块居中 */
	margin: auto;
	/* 2.给出自身宽高计算方式 */
	width: 800px; height: 400px;
	background-color:white;
	border: 4px solid white;
}
.dlz{
	float: left;
	border-radius: 10px 0px 0px 10px;
	width: 400px; height: 400px;
	background-color:black;
	background-image: url('https://img.zcool.cn/community/01c1b55774ba230000018c1b32f77d.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.dly{
	float: right;
	border-radius: 0px 10px 10px 0px;
	width: 400px; height: 400px;
	background-color: black;
}
.dll{
	outline:none; 
	border:0;
	display: block;
	margin: 0 auto;
	border-bottom: 2px solid white;
	background-color:rgba(0,0,0,0);
	width: 50%;
	height: 20px;
	color: white;
}
#username{
	margin-top: 140px;
}
/*修改提示文字的颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */ 
color: white; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color:white; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color:white; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: white; 
} 
.dlan{
	font-weight: bold;
	outline:none; 
	width: 50%;
	height: 30px;
	border-radius: 50px;
	border: 2px solid white;
	background-color: white;
	display: block;
	margin: 0 auto;
}
.zclj{
	display: block;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-align: center;
}
@media only screen and (max-width: 900px){
	.dlqb{
		border-radius: 10px;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		/* 1.要求自身内容相对包含块居中 */
		margin: auto;
		/* 2.给出自身宽高计算方式 */
		width: 300px; height: 500px;
		background-color: #204D74;
	}
	.dlz{
		float: left;
		border-radius: 10px 10px 0px 0px;
		width: 300px; height: 250px;
		background-color:black;
	}
	.dly{
		float: right;
		border-radius: 0px 0px 10px 10px;
		width: 300px; height: 250px;
		background-color: brown;
	}
	#username{
		margin-top: 50px;
	}
	#imgs{
		background-size: 60%;
		
	}
}	